@font-face {
    font-family: Storytella;
     src: url("assets/storytella/Storytella.otf");
   }
* {
    box-sizing: border-box;
  }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #2F281E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1312px;
    margin: 0 auto;
    display: flex;
}

header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 32px 0;
}

.header__wrapper {
    align-items: center;
    justify-content: center;
    line-height: 2.4rem;
}

.navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navigation__item {
    padding: 0 20px;
    cursor: pointer;
}

li {
    list-style: none;
}

a:hover {
    color: #cece00;
}
a {
    text-decoration: none;
    color: #2F281E;
}

main {
    display: flex;
}
.first-column {
    width: 40%;
    background-color: #F9F9F9;
}

.second-column {
    width: 60%;
}

.photo__image {
    width: 240px;
    height: 240px;
    margin: 36px 136px;
    border-radius: 20px;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    font-family: 'Storytella';
    margin: 0;
    padding-top: 20px;
}

h1::after{
    content: '';
    position: absolute;
    right: 526px;
    top: 207px;
    display: block;
    background-color: #359539;
    width: 120px;
    height: 120px;
    opacity: .3;
    border-radius: 50%;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #359539;
    text-align: center;
    margin: 56px 0 24px;
    }

h3 {
    font-size: 2.8rem;
    line-height: 4.8rem;
    text-align: center;
    font-family: 'Storytella';
    margin: 0;
}

.contact__list, .skills__list, .experience__list {
    line-height: 3.2rem;
    padding-left: 0px;
    text-align: center;
}
.profile {
    padding: 96px 0;
}

section {
    margin: 0;
}

p {
    text-align: center;
}
.section_about {
    padding: 0 66px;
}

.footer__wrapper {
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.rs-school {
    width: 88px;
}

%transition {
    transition: all .3s ease-out;
}